<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="../style/index.css" rel="stylesheet">
</head>
<body>
    <button id="btnMenu">MENU</button>
    <nav id="menu">
        <a href="index.html">Início</a>
        <a href="sobre.html">Sobre</a>
        <a href="habilidades.html">Habilidades</a>
        <a href="contato.html">Contato</a>
    </nav>
    <header>
        <h1 class="titulo">SEJA MUITO BEM-VINDO AO MEU PORTFOLIO</h1>
    </header>
    <script src="../js/index.js"></script>
    <main>
        <section>
            <h2 class="titulo2"></h2>
        </section>





    </main>
</body>
</html>
